/* Устанавливаем размер квадратиков */
.square {
    width: 20px; /* Уменьшите размер квадратиков по вашему усмотрению */
    height: 20px;
    display: inline-block;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    transition: background-color 0.3s ease;
}

/* Добавляем эффект при наведении */
.square:hover {
    background-color: #e0e0e0;
}

/* Стили для всплывающей информации */
.info {
    display: none;
    position: absolute;
    top: -30px; /* Располагаем всплывающую информацию выше квадратика */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    white-space: nowrap;
}

/* Показываем информацию при наведении */
.square:hover .info {
    display: block;
}

.container-card {
    margin-bottom: 40px; /* Увеличивает расстояние между карточками */
    padding: 15px; /* Добавляет внутренние отступы внутри карточки */
    border: 1px solid #ddd; /* Добавляет рамку для визуального разделения */
    border-radius: 5px; /* Закругляет углы */
    background-color: #f9f9f9; /* Добавляет фон */
}

.main-content {
        display: flex;
        width: 100%;
        max-width: 1200px;
    }

.statistics {
    flex: 1; /* 1/3 от ширины контейнера */
    background-color: #f7f7f7;
    padding: 20px;
    margin-left: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.statistics h4 {
    margin-bottom: 10px;
}

.small-input {
        width: 50px; /* Ширина поля в пикселях */
    }

.add_new_target_block {
    margin-left: 100px;
}
